  /* HEADER */
  .hfm-navbar-wrapper{ position: relative; top: 46px; }
  .hfm-navbar-wrapper .logo-normal{ position: absolute;z-index: 9999; }
  .navbar-brand { padding-top: 0px; padding-left: 40px; height: 90px; }
  .navbar-default.side-navigation { border: none; }
  .side-navigation .nav>li { float: right; }
  .navbar-default.side-navigation .nav > li > a { padding: 0 0 20px 0; }
  .side-navigation{ position: absolute; top: 0; right: 40px; z-index: 9999; background-color: transparent;}
  .side-navigation #bs-example-navbar-collapse-1{ width: 180px; padding: 0;}

  /* Navbar links */
  .navbar-default.side-navigation .navbar-nav{width: 100%;}
  .navbar-default.side-navigation .nav > li > a {
    display: inline-block;
    color: #ffffff;
    opacity: 0.5;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 4px;
    font-weight: bold;
    background-color: transparent;
  }
  .navbar-default.side-navigation .nav > li > a:hover,
  .navbar-default.side-navigation .nav > li > a:focus {
    color: #ffffff;
  }
  /* Navbar links */

  /* Active link */
  .navbar-default.side-navigation .nav > .active > a,
  .navbar-default.side-navigation .nav > .active > a:hover,
  .navbar-default.side-navigation .nav > .active > a:focus {
    opacity: 1;
    background-color: transparent;
  }
  /* Active link */

  /* Hamburger */
  .navbar-default.side-navigation .navbar-toggle {
    border-color: transparent;
    padding: 0;
    margin: 0;
  }
  .navbar-default.side-navigation .navbar-toggle:hover,
  .navbar-default.side-navigation .navbar-toggle:focus {
    background-color: transparent;
  }
  .navbar-default.side-navigation .navbar-toggle .icon-bar {
    background-color: #ffffff;
    height: 2.5px;
    width: 39px;
    margin-bottom: 11px;
  }
  .navbar-default.side-navigation .navbar-toggle .icon-bar:last-child{ margin-bottom: 0; }
  /* Hamburger */

  @media (min-width: 768px){
    .side-navigation .navbar-nav { display: inline-block; }
  }

  @media only screen and (max-width: 768px) and (min-width: 768px){
    .side-navigation #bs-example-navbar-collapse-1{ height: 100% !important;}
  }

  @media (max-width: 768px) {
    /* SIDE NAVIGATION */
    .side-navigation #bs-example-navbar-collapse-1 {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 99;
      /* width: 160px; */
      height: 100% !important;
      background-color: #974b00;
      overflow: auto;
    }
    .side-navigation #bs-example-navbar-collapse-1{ padding-top: 20px; padding-right: 20px; }
    /* SIDE NAVIGATION */
  }
