  /* HEADER */
  .hfm-navbar-wrapper{ position: relative; top: 46px; }
  .hfm-navbar-wrapper .logo-normal{ position: absolute;z-index: 9999; }
  .navbar-brand { padding-top: 0px; padding-left: 40px; height: 90px; }
  .navbar-default.side-navigation { border: none; }
  .side-navigation .nav>li { float: right; }
  .navbar-default.side-navigation .nav > li > a { padding: 0 0 20px 0; }
  .side-navigation{ position: absolute; top: 0; right: 40px; z-index: 9999; background-color: transparent;}
  .side-navigation #bs-example-navbar-collapse-1{ width: 180px; padding: 0;}

  /* Navbar links */
  .navbar-default.side-navigation .navbar-nav{width: 100%;}
  .navbar-default.side-navigation .nav > li > a {
    display: inline-block;
    color: #ffffff;
    opacity: 0.5;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 4px;
    font-weight: bold;
    background-color: transparent;
  }
  .navbar-default.side-navigation .nav > li > a:hover,
  .navbar-default.side-navigation .nav > li > a:focus {
    color: #ffffff;
  }
  /* Navbar links */

  /* Active link */
  .navbar-default.side-navigation .nav > .active > a,
  .navbar-default.side-navigation .nav > .active > a:hover,
  .navbar-default.side-navigation .nav > .active > a:focus {
    opacity: 1;
    background-color: transparent;
  }
  /* Active link */

  /* Hamburger */
  .navbar-default.side-navigation .navbar-toggle {
    z-index: 99;
    width: 39px;
    height: 39px;
    padding: 0;
    margin: 0;
    margin-left: 15px;
    border: none;
    background: transparent;
    border-color: transparent;
  }
  .navbar-default.side-navigation .navbar-toggle:hover,
  .navbar-default.side-navigation .navbar-toggle:focus {
    background-color: transparent;
  }
  .navbar-default.side-navigation .navbar-toggle .icon-bar {
    background-color: #ffffff;
    height: 2.5px;
    width: 39px;
    margin-bottom: 11px;
  }
  .navbar-default.side-navigation .navbar-toggle .icon-bar:last-child{ margin-bottom: 0; }
  /* Hamburger */


  /* FOOTER */
  .hfm-footer-wrapper{
    min-height: 360px;
    background-color: #974b00;
    color: #ffffff;
    padding: 40px;
  }

  .hfm-footer-wrapper .hfm-navbar-wrapper{top:0;}
  .hfm-footer-wrapper .side-navigation{right: 0;}

  /* FOOTER SECTION ONE */
  .hfm-footer-wrapper .section-one{ display: grid; grid-template-columns: 1fr 1fr; }
  .hfm-footer-wrapper .left-column{ width: 100%; max-width: 500px; display: grid; grid-template-columns: 1fr 1fr; }
  .hfm-footer-wrapper .hfm-logo img{ max-width: 120px; width: 100%;}
  .hfm-footer-wrapper .contact h6{ margin-top: 0; font-weight: bold; }
  .hfm-footer-wrapper .contact h6,
  .hfm-footer-wrapper .contact p{
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.25;
    color: #ffffff;
  }
  .hfm-footer-wrapper .contact{ width: 100%; max-width: 150px; }
  /* FOOTER SECTION ONE */

  /* FOOTER SECTION TWO */
  .hfm-footer-wrapper .section-two{
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .hfm-footer-wrapper .copyright{
    align-self: center;
    font-family: "Barlow";
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .social-icons{ margin: 0;}
	.social-icons li{ display: inline-block; margin-right: 20px;}
	.social-icons li:last-child{ margin-right: 0;}
	.social-icons .fa{ font-size: 24px;}
  .hfm-footer-wrapper .social-icons{ justify-self: end; }
  /* FOOTER SECTION TWO */


  /* SOW IMAGE GRID */
  .image-grid-wrapper > h4{
    width: 80%;
    margin: 0 auto 70px;
    font-family: "Barlow", sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1;
    letter-spacing: 4px;
    text-align: center;
    color: #ffffff;
  }
  .image-grid-wrapper .image-grid-container{ display: grid; grid-template-columns: repeat(3,1fr); grid-gap: 20px; grid-row-gap: 60px; }
  .image-grid-wrapper .image-grid-container .grid-img img{ width: 100%; display: inline-block; }
  /* SOw-IMG-GRID */

  @media(min-width: 769px){
    /* SOw-IMG-GRID */
    .image-grid-wrapper .image-grid-container > .grid-img{ width: 70%; margin: 0 auto; }
    /* SOw-IMG-GRID */
  }

  @media (min-width: 768px){
    .side-navigation .navbar-nav { display: inline-block; }
  }

  @media only screen and (max-width: 768px) and (min-width: 768px){
    .side-navigation #bs-example-navbar-collapse-1{ height: 100% !important;}
    /* SOw-IMG-GRID */
    .image-grid-wrapper .image-grid-container > .grid-img{ margin-top: 20px; }
    /* SOw-IMG-GRID */
  }

  @media (max-width: 768px) {
    /* SIDE NAVIGATION */
    .navbar-default.side-navigation .navbar-toggle{display: inline-block;}
    .side-navigation #bs-example-navbar-collapse-1 {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 99;
      /* width: 160px; */
      height: 100% !important;
      background-color: #974b00;
      overflow: auto;
    }
    .side-navigation #bs-example-navbar-collapse-1{ padding-top: 46px; padding-right: 20px; }
    /* SIDE NAVIGATION */

    /* SIDE NAVIGATION CLOSE BUTTON */
    .navbar-toggle.collapsed::before { content: ''; display: none; }
    .navbar-toggle::before {
      display: inline-block;
      position: absolute;
      transform: scale(0.3);
      top: -40px;
      right: 120px;
      color: #ffffff;
      opacity: 0.6;
    }
    /* SIDE NAVIGATION CLOSE BUTTON */

  }

  @media only screen and (max-width: 768px) and (min-width: 425px){

  	/* Override navabar collapse breakpoint for footer menu */
  	.hfm-footer-wrapper .navbar-collapse.collapse { display: block!important;}

  	.hfm-footer-wrapper .navbar-toggle { display: none !important; }
  	.hfm-footer-wrapper .navbar-collapse{ border: none; box-shadow: none; }

  	.hfm-footer-wrapper .side-navigation #bs-example-navbar-collapse-1 {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 99;
  		padding-top: 0;
  		padding-right: 0;
  		height: auto !important;
  	}
  	/* Override navabar collapse breakpoint for footer menu */
  }

  @media(max-width: 767px){
    /* SOw-IMG-GRID */
    .image-grid-wrapper > h4{ font-size: 20px; letter-spacing: 3.33px; }
    .image-grid-wrapper .image-grid-container{ grid-template-columns: 1fr; grid-row-gap: 40px; }
    .image-grid-wrapper .image-grid-container > .grid-img{ margin: 0 auto;}
    .image-grid-wrapper .image-grid-container .grid-img img{ width: 100%; max-width: 250px; display: inline-block; }
    /* SOw-IMG-GRID */
  }

  /* FOOTER */
   @media(max-width: 680px){
     /* FOOTER */
     .hfm-footer-wrapper{ padding: 30px 22px 23px 20px; }
     .hfm-footer-wrapper .hfm-logo img { max-width: 80px;}
     .hfm-footer-wrapper .left-column{ grid-template-columns: 1fr; grid-row-gap: 40px; }
     .hfm-footer-wrapper .section-two{ grid-template-columns: 1fr; grid-row-gap: 23px; margin-top: 40px;}
     .hfm-footer-wrapper .social-icons{ grid-row-start: 1; justify-self: start; }
     /* FOOTER */
   }

   @media(max-width: 425px){
     /* FOOTER */
   	.hfm-footer-wrapper .navbar-toggle:not(.collapsed) .icon-bar{ display: none; }
   	.hfm-footer-wrapper .navbar-toggle .icon-bar{ width: 30px !important; height: 2.5px !important; }
    /* FOOTER */
   }
