  /* HEADER */
  .hfm-navbar-wrapper{ position: relative; top: 46px; }
  .hfm-navbar-wrapper .logo-normal{ position: absolute;z-index: 9999; }
  .navbar-brand { padding-top: 0px; padding-left: 40px; height: 90px; }
  .navbar-default.side-navigation { border: none; }
  .side-navigation .nav>li { float: right; }
  .navbar-default.side-navigation .nav > li > a { padding: 0 0 20px 0; }
  .side-navigation{ position: absolute; top: 0; right: 40px; z-index: 9999; background-color: transparent;}
  .side-navigation #bs-example-navbar-collapse-1{ width: 180px; padding: 0;}

  /* Navbar links */
  .navbar-default.side-navigation .navbar-nav{width: 100%;}
  .navbar-default.side-navigation .nav > li > a {
    display: inline-block;
    color: #ffffff;
    opacity: 0.5;
    font-size: 18px;
    line-height: 18px;
    letter-spacing: 4px;
    font-weight: bold;
    background-color: transparent;
  }
  /* Navbar links */

  /* Active link */
  .navbar-default.side-navigation .nav > .active > a,
  .navbar-default.side-navigation .nav > .active > a:hover,
  .navbar-default.side-navigation .nav > .active > a:focus {
    opacity: 1;
    background-color: transparent;
  }
  /* Active link */

  /* Hamburger */
  .navbar-default.side-navigation .navbar-toggle {
    z-index: 99;
    width: 39px;
    height: 39px;
    padding: 0;
    margin: 0;
    margin-left: 15px;
    border: none;
    background: transparent;
    border-color: transparent;
  }
  .navbar-default.side-navigation .navbar-toggle:hover,
  .navbar-default.side-navigation .navbar-toggle:focus {
    background-color: transparent;
  }
  .navbar-default.side-navigation .navbar-toggle .icon-bar {
    background-color: #ffffff;
    height: 2.5px;
    width: 39px;
    margin-bottom: 11px;
  }
  .navbar-default.side-navigation .navbar-toggle .icon-bar:last-child{ margin-bottom: 0; }
  /* Hamburger */


  /* FOOTER */
  .hfm-footer-wrapper{
    min-height: 360px;
    background-color: #974b00;
    color: #ffffff;
    padding: 40px;
  }

  .hfm-footer-wrapper .hfm-navbar-wrapper{top:0;}
  .hfm-footer-wrapper .side-navigation{right: 0;}

  /* FOOTER SECTION ONE */
  .hfm-footer-wrapper .section-one{ display: grid; grid-template-columns: 1fr 1fr; }
  .hfm-footer-wrapper .left-column{ width: 100%; max-width: 500px; display: grid; grid-template-columns: 1fr 1fr; }
  .hfm-footer-wrapper .hfm-logo img{ max-width: 120px; width: 100%;}
  .hfm-footer-wrapper .contact h6{ margin-top: 0; font-weight: bold; }
  .hfm-footer-wrapper .contact h6,
  .hfm-footer-wrapper .contact p{
    font-family: "Barlow", sans-serif;
    font-size: 16px;
    font-stretch: normal;
    font-style: normal;
    letter-spacing: normal;
    line-height: 1.25;
    color: #ffffff;
  }
  .hfm-footer-wrapper .contact{ width: 100%; max-width: 150px; }
  /* FOOTER SECTION ONE */

  /* FOOTER SECTION TWO */
  .hfm-footer-wrapper .section-two{
    margin-top: 150px;
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
  .hfm-footer-wrapper .copyright{
    align-self: center;
    font-family: "Barlow", sans-serif;
    font-size: 12px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
  }
  .social-icons{ margin: 0;}
	.social-icons li{ display: inline-block; margin-right: 20px;}
	.social-icons li:last-child{ margin-right: 0;}
	.social-icons .fa{ font-size: 24px;}
  .hfm-footer-wrapper .social-icons{ justify-self: end; }
  /* FOOTER SECTION TWO */


  /* SOW IMAGE GRID */
  .image-grid-wrapper > h4{
    width: 80%;
    margin: 0 auto 70px;
    font-family: "Barlow", sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1;
    letter-spacing: 4px;
    text-align: center;
    color: #ffffff;
  }
  .image-grid-wrapper .image-grid-container{ display: grid; grid-template-columns: repeat(3,1fr); grid-gap: 20px; grid-row-gap: 60px; }
  .image-grid-wrapper .image-grid-container .grid-img img{ width: 100%; display: inline-block; }
  /* SOw-IMG-GRID */

  /* SOW CAROUSEL */
  #hfm-carousel-sow .carousel-inner .item-body{
    display: grid;
    grid-template-columns: 590px 1fr;
    grid-column-gap: 100px;
  }
  #hfm-carousel-sow .carousel-inner > .item > .item-body > img{ width:100%; height:820px; object-fit: cover; }

  /* Indicators */
  #hfm-carousel-sow .carousel-indicators li {
    width: 30px;
    height: 3px;
    margin-right: 3px;
    margin-left: 3px;
    text-indent: -999px;
    background-color: #974b00;
    opacity: 0.6;
  	border: 0;
  }
  /* Active Indicator */
  #hfm-carousel-sow .carousel-indicators li.active { width: 30px; height: 3px; margin: 1px 3px; opacity: 1; background-color: #974b00; }
  /* Active Indicator */

  /* SOW CAROUSEL */

  /* SOW HERO NAVIGATION */
  .hfm-hero-navigation, .hero-pane{ position: relative; }
  .hfm-hero-navigation .section-title{
    position: absolute;
    top: 100px;
    left: 40px;
    z-index: 1;
    font-family: "Barlow",sans-serif;
    font-size: 24px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1;
    letter-spacing: 4px;
    color: #ffffff;
  }
  .hfm-hero-navigation .hero-pane{ display: none; opacity: 0.6; }
  .hfm-hero-navigation .hero-pane.active{display: block; opacity: 1; }
  .hfm-hero-navigation .hero-pane .hero-image{ height: 901px; background-position: center; background-repeat: no-repeat; background-size: cover; }
  .hfm-hero-navigation .hero-pane .overlay{ position: absolute; top: 0; left:0; width: 100%; height: 100%; background-color: rgba(0,0,0,0.4); }
  .hfm-hero-navigation .hero-nav-tabs{ position: absolute; top: 165px; left: 40px; right: 120px; }
  .hfm-hero-navigation .hero-nav-tabs > li{ margin-bottom: 60px; display: grid; grid-template-columns: 1fr 1fr;  justify-items: end; }
  .hfm-hero-navigation .hero-nav-tabs > li:nth-child(3) .tab-content{ align-self: end; }
  .hfm-hero-navigation .hero-nav-tabs > li > a{
    width: 100%;
    max-width: 680px;
    opacity: 0.5;
    font-family: Barlow;
    font-size: 96px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    color: #ffffff;
    text-decoration: none;
  }
  .hfm-hero-navigation .hero-nav-tabs > li.hero-tab.active > a{ opacity: 1; }
  .hfm-hero-navigation .hero-nav-tabs > li > .tab-content{
    display: none;
    width: 100%;
    max-width: 590px;
    font-family: "Barlow";
    font-size: 20px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
  }
  .hfm-hero-navigation .hero-nav-tabs > li.hero-tab.active > .tab-content{ display: inline-block; }
  /* SOW HERO NAVIGATION */


  /* SOW SLIDING NAVIGATION */
  .hfm-sliding-navigation .fullwidth{ margin-bottom: 100px; }
  .hfm-sliding-navigation .vertical-line{
    width: 1px;
    height: 97px;
    margin: 0 auto;
  }
  .hfm-sliding-navigation .sliding-tab > a{
    height: 96px;
    font-family: "Barlow",sans-serif;
    font-size: 96px;
    font-weight: bold;
    font-stretch: condensed;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-align: center;
    text-decoration: none;
  }
  .hfm-sliding-navigation .sliding-tab > a:focus{ outline: none; }
  .hfm-sliding-navigation .container-navigation{
    width: 100%;
    max-width: 98%;
    margin: 0 auto;
  }

  /* SLIDING PANE */
  .hfm-sliding-navigation .sliding-pane-wrapper{max-width:1170px;margin: 0 auto;}
  .hfm-sliding-navigation .sliding-pane{
    display: none;
    -webkit-opacity: 0;
    -moz-opacity: 0;
    opacity: 0;
  }
  .hfm-sliding-navigation .sliding-pane.active{
    display: block;
    -webkit-opacity: 1;
    -moz-opacity: 1;
    opacity: 1;
  }
  /* SLIDING PANE */

  /* SLICK */
  .hfm-sliding-navigation .slider{ visibility: hidden; opacity:0; transition: opacity 1s; }
  .hfm-sliding-navigation .slider.slick-initialized{ visibility:visible; opacity:1; }
  .hfm-sliding-navigation .slick-slide { margin: 0 82px; margin-left: 0px; }
  .hfm-sliding-navigation .slick-slide > a{ opacity: 0.3; }
  .hfm-sliding-navigation .slick-slide:not(.slick-current) > a:hover{ opacity: 0.5; }

  /* ACTIVE SLIDE */
  .hfm-sliding-navigation .slick-center > a { opacity: 1; }
  .hfm-sliding-navigation .slick-slide.slick-active:focus{ outline: none;}
  /* ACTIVE SLIDE */

  /* SLICK */

  /* SOW SLIDING NAVIGATION */


  @media(min-width: 769px){
    /* SOw-IMG-GRID */
    .image-grid-wrapper .image-grid-container > .grid-img{ width: 70%; margin: 0 auto; }
    /* SOw-IMG-GRID */

    /* SOW CAROUSEL */
    #hfm-carousel-sow .carousel-indicators { left: 80%; width: 20%; text-align: left; }
    #hfm-carousel-sow .carousel-indicators { bottom: 131.5px; }
    /* SOW CAROUSEL */
  }

  @media (min-width: 768px){
    /* Navbar links */
    .side-navigation .navbar-nav { display: inline-block; }
    .navbar-default.side-navigation .nav > li > a:hover{ color: #ffffff; opacity: 1; }
    /* Navbar links */
  }

  @media only screen and (max-width: 768px) and (min-width: 768px){
    .side-navigation #bs-example-navbar-collapse-1{ height: 100% !important;}
    /* SOw-IMG-GRID */
    .image-grid-wrapper .image-grid-container > .grid-img{ margin-top: 20px; }
    /* SOw-IMG-GRID */
  }

  @media(max-width:1300px){
    /* SOW SLIDING NAVIGATION */
    .hfm-sliding-navigation .container-navigation{ width: 100%;}
    /* SOW SLIDING NAVIGATION */
  }

  @media(max-width: 1024px){
    /* SOW HERO NAVIGATION */
    .hfm-hero-navigation .hero-nav-tabs > li{
      display: grid;
      grid-template-columns: 1fr;
      grid-row-gap: 40px;
      margin-bottom: 40px;
      justify-items: start;
    }
    .hfm-hero-navigation .hero-pane .hero-image{ height: 1026px; }
    /* SOW HERO NAVIGATION */

    /* SOW CAROUSEL */
    #hfm-carousel-sow .carousel{ padding-bottom: 30px;}
    #hfm-carousel-sow .carousel-inner{ height: auto; }
    #hfm-carousel-sow .carousel-inner .item-body{ display: block;}
    #hfm-carousel-sow .carousel-indicators{ left: 30%; text-align: left; bottom: 0px; }
    #hfm-carousel-sow .carousel-inner .item-body > img{display: none;}
    #hfm-carousel-sow .carousel-inner .item-body > .item-content { width: 100%; }
    /* SOW CAROUSEL */
  }

  @media (max-width: 768px) {
    /* SIDE NAVIGATION */
    .navbar-default.side-navigation .navbar-toggle{display: inline-block;}
    .side-navigation #bs-example-navbar-collapse-1 {
      position: fixed;
      top: 0;
      right: 0;
      z-index: 99;
      /* width: 160px; */
      height: 100% !important;
      background-color: #974b00;
      overflow: auto;
    }
    .side-navigation #bs-example-navbar-collapse-1{ padding-top: 46px; padding-right: 20px; }
    /* SIDE NAVIGATION */

    /* SIDE NAVIGATION CLOSE BUTTON */
    .navbar-toggle.collapsed::before { content: ''; display: none; }
    .navbar-toggle::before {
      display: inline-block;
      position: absolute;
      transform: scale(0.3);
      top: -40px;
      right: 120px;
      color: #ffffff;
      opacity: 0.6;
    }
    /* SIDE NAVIGATION CLOSE BUTTON */



  }

  @media only screen and (max-width: 768px) and (min-width: 425px){

  	/* Override navabar collapse breakpoint for footer menu */
  	.hfm-footer-wrapper .navbar-collapse.collapse { display: block!important;}

  	.hfm-footer-wrapper .navbar-toggle { display: none !important; }
  	.hfm-footer-wrapper .navbar-collapse{ border: none; box-shadow: none; }

  	.hfm-footer-wrapper .side-navigation #bs-example-navbar-collapse-1 {
      position: absolute;
      top: 0;
      right: 0;
      z-index: 99;
  		padding-top: 0;
  		padding-right: 0;
  		height: auto !important;
  	}
  	/* Override navabar collapse breakpoint for footer menu */
  }

  @media(max-width: 767px){
    /* SOw-IMG-GRID */
    .image-grid-wrapper > h4{ font-size: 20px; letter-spacing: 3.33px; }
    .image-grid-wrapper .image-grid-container{ grid-template-columns: 1fr; grid-row-gap: 40px; }
    .image-grid-wrapper .image-grid-container > .grid-img{ margin: 0 auto;}
    .image-grid-wrapper .image-grid-container .grid-img img{ width: 100%; max-width: 250px; display: inline-block; }
    /* SOw-IMG-GRID */
  }

  /* FOOTER */
   @media(max-width: 680px){
     /* FOOTER */
     .hfm-footer-wrapper{ padding: 30px 22px 23px 20px; }
     .hfm-footer-wrapper .hfm-logo img { max-width: 80px;}
     .hfm-footer-wrapper .left-column{ grid-template-columns: 1fr; grid-row-gap: 40px; }
     .hfm-footer-wrapper .section-two{ grid-template-columns: 1fr; grid-row-gap: 23px; margin-top: 40px;}
     .hfm-footer-wrapper .social-icons{ grid-row-start: 1; justify-self: start; }
     /* FOOTER */

     /* SOW HERO NAVIGATION */
     .hfm-hero-navigation .section-title{ top: 46px; left: 20px; font-size: 20px; letter-spacing: 3.33px; }
     .hfm-hero-navigation .hero-pane .hero-image{ height: 568px; }
     .hfm-hero-navigation .hero-nav-tabs{ top: 96px; left: 20px; right: 22px; }
     .hfm-hero-navigation .hero-nav-tabs > li{ grid-row-gap: 20px; margin-bottom: 32px; }
     .hfm-hero-navigation .hero-nav-tabs > li > a{ font-size: 48px; max-width: 100%; }
     .hfm-hero-navigation .hero-nav-tabs > li > .tab-content{ font-size: 16px; line-height: 1.63; width: 100%; }
     /* SOW HERO NAVIGATION */

   }

   @media(max-width: 425px){
     /* FOOTER */
   	.hfm-footer-wrapper .navbar-toggle:not(.collapsed) .icon-bar{ display: none; }
   	.hfm-footer-wrapper .navbar-toggle .icon-bar{ width: 30px !important; height: 2.5px !important; }
    /* FOOTER */
   }

   @media(max-width: 375px){
     /* SOW HERO NAVIGATION */
     .hfm-hero-navigation .hero-pane .hero-image{ height: 100vh; }
     /* SOW HERO NAVIGATION */
   }
